/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
div.form-item {
  margin-bottom: 15px;
}
div.webform-component-email {

}
.carousel-indicators li {
	border-radius: 0
}

.well2 {
	background-color: rgba(0, 0, 0, 0.3);
}
p {
	font-size: 10pt;
	line-height: 150%;
	font-family: Verdana, Arial, sans-serif
}
li {
	font-size: 10pt;
	line-height: 150%;
	font-family: Verdana, Arial, sans-serif
}
